/*footer */
footer {
  clear:both;
  margin-top: 2em;
  background-color: rgb(133, 133, 133);
}
footer a {
  text-decoration: none;
}
footer p {
  width: 1250px;
  margin: 0 auto;
  padding: 1em;

  color: white;
}
footer strong {
  font-weight: 1000;
  color: white;
  font-size:16px;
}
footer img {
  float:left;
  height: 2.5em;
}
