
/* --------
Stylings for the Top Navigation Bar
*/
#osu_navbar {
  clear:both;
  margin:0; padding:0;
  background: #eaeaea url(/images/bg-navbar_red.jpg) left bottom repeat-x; overflow:hidden;
  font-size:0.8125em;
  line-height:1.5;
  font-weight:normal;
}


/* University tag in the top left */
#osu_navbar p {
  margin:0;
  padding:0;
}

#osu_navbar .univ_info {
  float:left;
  padding: 1em 0;
}

#osu_navbar .univ_name a {
  height:1.5em;
  width:6em;
  display:block;
  text-indent: -9999em;
  background: url(/images/osu_name.png) 0 0 no-repeat;
}


/* Links displayed in the top right */
#osu_navbar .univ_links {
  float:right;
  clear:none;
  padding: 1em 0 0;
  margin-top:-.05em;
}

#osu_navbar div.links {float:left;}

#osu_navbar div.links ul {margin: 0 0.1em 0;}

#osu_navbar div.links ul li {
  list-style:none;
  float:left;
  margin-left:1em;
}

#osu_navbar div.links ul li a {
  color:#333;
  text-decoration: none;
}

#osu_navbar div.links ul li a:hover {text-decoration: underline;}

/*-----------------------------------------------*/
/* Display the title of the webpage and the Ohio State image*/

/* Website title and links to external sites */

.page-header {
  width:1250px;
  margin: 0 auto;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top:10px;
  font-weight: 100;
  color: gray;
}

.picture {
  float: right;
}
.site-title {
  padding-top: 10px;
  padding-bottom: 14px;
}
.site-title span {
  font-size: 40px;
  margin-bottom: 15px;
}

.site-subtitle span {
  margin: 5px 0px 10px;
  font-size:16px;
}

.page-header a {
  margin-right: 0.3em;
  text-decoration: none;
  color: inherit;
}

.page-header a:hover {text-decoration: underline;}

/*--------------------------------*/
/* Display the webpage navigation bar */

#main_navbar {
  clear:both;
  margin:0 auto;
  padding:0;
  font-family:'proximanova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:0.23em;
  line-height:2.5;
  font-weight:normal;
}

.nav-bar {width:1010px;}

#main_navbar .nav-bar {
  width: 1250px;
  margin: 0 auto;
  margin-top: 25px;
}

/*#main_navbar .pages {float:right;}*/
#main_navbar .pages ul {
    list-style-type: none;
    overflow: hidden;
    background: #eaeaea url(/images/bg-navbar_red.jpg)
    left bottom repeat-x;
}

#main_navbar .pages ul li {
    float: left;
    margin: 0.5em;

}

#main_navbar .pages ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.9em 1em;
    text-decoration: none;
}

#main_navbar .pages ul li a.show:hover {
    background-color: gray;
    text-decoration: underline;
    font-weight: bold;
}
