/*Author: Jennifer Alarcon created March 9th*/


.display-pictures{

//Styling when hovering
.overlay {
  //positioned relative to the nearest positioned ancestor
  position: absolute;

  //For the info when hovering
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //at 0 until hovered over
  opacity: 0;
  //hovering display same as image size-width
  height: auto;
  margin: 0 auto;
  transition: .5s ease;
  background-color: #eee;
}

//Styling for the actual image
.image {
  display: block;
  width: 600px;
}


//Opcatitiy when hovering image
.picture-container:hover .overlay {
  opacity: .9;
  cursor: crosshair;

}

//The picture information styling
.pic-text {
  font-weight: 300;
  font-size: 130%;
  padding-top: 90px;
  width: 600px;

}
//positioned relative to its normal position
.picture-container {
  position: relative;
  width: 50%;
}

}
