/*Jennifer Alarcon, created: March 7th*/

//Current Students & Alumni styling
.people{
  h2{
    text-align: center;
    font-weight: 400;
    margin: .1em auto;
    color: #666666;
  }

  /*styling for printing current students*/
  .students{
      margin: auto;
      text-align: center;

    #title{
      font-weight: 400;
      padding: 20px;
    }

    li {
      padding: 6px;
      text-align: center;
      display: inline-block;
      font-weight: 100;
      margin: auto;

    }
    li:hover {
      background: #eee;
      cursor: crosshair;
    }
  } //end of student styling elements

  /* ALUMNI styling elements */
  .alumni{

    margin: auto;
    text-align: center;
    li:hover {
      background: #ededed;
      cursor:crosshair;

    }

    ul{
      list-style: none;
      margin: auto;
      background-color: #eee;
      text-align: center;
      letter-spacing: .03em;
      color: grey;
      margin: 0em 0 1em 0;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 10px;

    }

    li{
      text-align: center;
      font-weight: 100;


    }

    body {
      background: #fafafa;
      font: 2em 'Helvetica Neue', helvetica, arial, sans-serif;
    }

    h3,h4,h5{
      margin:0;
      padding:0px;
    }

    #name{
      text-align: center;
      font-size: 1.75em;
      font:'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-style: italic;
      line-height: 1em;
      letter-spacing: .07em;
      color: #C8AA78;

    }

    #now-at{
      text-align: center;
      color: #bb0000;
      font-weight: 400;
    }

    #info{
      text-align: center;
      font-weight: 300;
    }
  } //end of alumni student styling elements


}//end of people styling elements
