

.people{
  position: relative;
  margin: auto;

  hr{
    width: 1250px;
  }


  h2{
    text-align: center;
    font-weight: 400;
    margin: .1em auto;
    color: #666666;
  }

  .students{
    text-align: center;

    #title{
      font-weight: 400;
      padding: 20px;
    }
    li {
      padding: 6px;
      text-align: center;
      display: inline-block;
      font-weight: 100;
      margin: .1em auto;

    }
    li:hover {
      background: #eee;
      cursor: pointer;
    }

  }

  /* ALUMNI */
  .alumni{
    float: right;
    position: relative;
    left: -50%;


    li:hover {
      background: #ededed;
      cursor:crosshair;

    }

    ul{
      list-style: none;
      position: relative;
      left: 50%;

    }

    li{
      letter-spacing: .03em;
      color: grey;
      margin: 0 0 1em 0;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      background-color: #eee;
      font-weight: 100;
      padding: 10px;

    }

    body {
      background: #fafafa;
      font: 2em 'Helvetica Neue', helvetica, arial, sans-serif;
    }

    h3,h4,h5{
      margin:0;
      padding:0px;
    }


    #name{
      text-align: center;
      font-size: 1.75em;
      font:'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-style: italic;
      line-height: 1em;
      letter-spacing: .07em;
      color: #C8AA78;

    }

    #now-at{
      text-align: center;
      color: #bb0000;
      font-weight: 400;
    }

    #info{
      text-align: center;
      font-weight: 300;
    }
  }


}
