.people{


  width:1250px;
  margin: 0 auto;



  h2{
    text-align: left;
    font: 150 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //font-style: italic;
    color:#bb0000;

  }

  .students{

    text-align: center;

    li {
      padding: 6px;
      margin: 1px;
      font: 200 20px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-align: center;
      display: inline-block;
      margin-right: 0px;

    }
    li:hover {
      background: #eee;
      cursor: pointer;
    }


  }




/* ALUMNI */
  .alumni{
    text-align: center;

    li:hover {
      background: #eee;
      cursor: pointer;
    }

    ul{
      list-style: none;
    }
    li{
      letter-spacing: .03em;
      color: grey;
      margin: 0 0 1em 0;
      font-family: Georgia, Times, "Times New Roman", serif;
      background-color: #eee;

    }


    #name{

      font-align: left;
      font-size: 1.75em;
      font: 200 28px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-style: italic;
      text-transform: capitalize;
      line-height: 1em;
      letter-spacing: .07em;

      padding-bottom: 0em;

    }
    body {
      background: #fafafa;
      color: #444;
      font: 2em 'Helvetica Neue', helvetica, arial, sans-serif;


    }


    #now-at{
      color: #C8AA78;

    }
  }


}
