/* Overall Styling for the Elements of the header */
html, body, div, span, p, a, img, ul, li{
  margin:0;
  padding:0;
  border:0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
} 

