/*Jennifer Alarcon, created: March 8th*/

//Underline the title tag
  #title{
    text-decoration: underline;
  }

//text color and styling for all elements on teaching page
  #teaching{
    text-align: center;
    font-weight: 300;
    color: #666666;
    padding-top: 15px;
  }
