


.teaching{

  position: relative;
  margin: auto;


  h2{
    text-align: left;
    font-weight: 300;
  	margin: .1em auto;
    color: #666666;
  }

      ul{
        list-style: none;


      }

      h2{
        padding-top: 50px;
        margin: 0px;
      }

      h3{
        padding: 0;
        margin: 0;
      }

}
