<footer>
	<p>
	<img src="images/osu-horiz-white-and-scarlet.png" alt="OSU"/>
	<br></br>
	<br></br>
	<a href="https://cse.osu.edu/"><strong>Department of Computer Science and Engineering</strong></a>
	<br>
	491 Dreese Laboratories, 2015 Neil Avenue
	<br>
	Columbus, OH 43210
	<br>
	Office: 614-292-1553 | Lab: 614-292-5137 | Fax: 614-292-2911
	</p>
</footer>
