
<!--Display the navigation bar at the top of the screen -->
<div role="navigation" id="osu_navbar">
    <div class="container">
        <div class="univ_info">
        	<!--Display the OSU.EDU image with a link to osu.edu -->
            <p class="univ_name"><a href="http://osu.edu" title="The Ohio State University">The Ohio State University</a></p>
        </div>
        <div class="univ_links">
            <div class="links">
            	<!-- Display a list of words with links to different OSU sites -->
                <ul>
                    <li><a href="http://www.osu.edu/help.php" class="help" title="Help">Help</a></li>
                    <li><a href="http://buckeyelink.osu.edu/" class="buckeyelink" title="Buckeyelink">BuckeyeLink</a></li>
                    <li><a href="http://www.osu.edu/map/" class="map" title="Map">Map</a></li>
                    <li><a href="http://www.osu.edu/findpeople.php" class="findpeople" title="Find People">Find People</a></li>
                    <li><a href="https://email.osu.edu/" class="webmail" title="Webmail">Webmail</a></li> 
                    <li><a href="https://portal.cse.ohio-state.edu/cse-portal" class="cseportal" title="CSE Portal">CSE Portal</a></li>
                    <li><a href="http://www.osu.edu/search/" class="search" title="Search Ohio State"/>Search Ohio State</a></li>
                </ul>
            </div> <!-- links-->
        </div><!-- univ_links-->
    </div><!-- container-->

</div><!-- osu_navbar-->

	<!-- Display the Professor name, his department, college, and an Ohio State University image as the title of the webpage -->
<div class="website-title">
	<div class="page-header">
       	<div class="picture">
           	<a href="http://www.osu.edu"
               	title="The Ohio State University">
               	<img src="images/osu-32px-horiz.png" alt="OSU Logo"/>
           	</a>
       	</div> <!--Float: right -->
       	<!-- Display the professors name -->
       	<div class="site-title">
           	<a href="/" title="James W. Davis's Homepage"><span>James W. Davis</span></a>
       	</div>
       	<!-- Display the Department and college he works in -->
       	<div class="site-subtitle">
           	<a href="http://www.cse.ohio-state.edu" title="Department of Computer Science & Eningeering"><span>Dept. of Computer Science and Engineering</span></a>
           	<div><a href="http://engineering.osu.edu" title="College of Engineering at Ohio State"><span>College of Engineering</span></a></div>
   		</div>
   	</div> <!-- page-header -->
</div> <!-- website-title -->

<!-- Display the in-site navigation Bar -->
<div role="site-navigation" id="main_navbar">
	<div class="nav-bar">
		<div class="pages">
			<ul>
				<li><a href="/index.html" class="show">Home</a></li>
				<li><a href="/media.html" class="show">Media and Press</a></li>
				<li><a href="/news.html" class="show">Recent News</a></li>
				<li><a href="/publications.html" class="show">Publications</a></li>
				<li><a href="/people.html" class="show">People</a></li>
				<li><a href="/teaching.html" class="show">Teaching</a></li>
				<li><a href="/pictures.html" class="show">Pictures</a></li>
				</ul>
		</div><!-- pages -->
	</div><!-- nav-bar -->
</div> <!-- main_navbar -->
