<div id="header">
	<div class="header-above-nav">
	<a href="https://cse.osu.edu/" title="Computer Science and Engineering Department Home" rel="home">
		<img class="college-affiliation-image" src="https://cse.osu.edu/sites/cse.osu.edu/files/custom/cse-title.png"/>
	</a>
	<a href="http://engineering.osu.edu/" title="The Ohio State University College of Engineering" class="eng-affiliation">
		<img class="csedeparment-image" src="/images/osucse.jpg"/>
	</a>
	</div>
	<div class="nav-bar">
	<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="media.html">Media and Press</a></li>
			<li><a href="news.html">Recent News</a></li>
			<li><a href="publications.html">Publications</a></li>
			<li><a href="people.html">People</a></li>
			<li><a href="teaching.html">Teaching</a></li>
			<li><a href="pictures.html">Pictures</a></li>
			</ul>

	</div>
</div>