<!-- Expects an item with required title and text. links are optional -->
<li>
<% if item.link.nil? %>
	<%= "<em><strong>#{item.title}</strong></em>: #{item.text}" %>
<% else %>
	<%= link_to "<em><strong>#{item.title}</strong></em>:", item.link %> <%= item.text%>
<% end %>
<% unless item.link2.nil? %>
	<%= link_to "<em>[WWW]</em>", item.link2 %>
<% end %>
</li>