<!-- Expects an item with required title and text. links are optional -->
<% full_text = item.title + ': ' + item.text %>
<li>
<% if item.link.nil? %>
	<%= full_text %>
<% else %>
	<%= link_to full_text, item.link %>
<% end %>
</li>