<table>
	<tr>
		<td>times</td>
		<td>1</td>
		<td>2</td>
		<td>3</td>
	</tr>
	<%2.times do |a| %>
	<tr>
		<td> <%= a+1 %></td>
		<%2.times do |b| %>
		<td> <%= (a+1)*(b+1)%></td>
		<%end%>
		<td> 3* row </td>
	</tr>
	<%end%>
</end>
</table>
