<!-- Authored by Kenton Steiner - 3/9 -->
<div class="container">
	<div class="rnews">
		<h1>Recent News</h1>
		<ul class="news">
			<% data.news.recentnews.list.each do |a| %>
				<li>
					<%= a.text%>
					<% if !a.pdf.nil?%>
						<%= link_to "[<em><strong>PDF</strong></em>]",a.pdf %>
					<% end%>
				</li>
			<% end %>
		</ul>
		<h1>Links</h1>
		<ul class="news_links">
			<% data.news.links.list.each do |a| %>
				<li>
					<%= link_to "<em><strong>#{a.text}</strong></em>:", a.www %>
				</li>
			<% end %>
		</ul>
	</div>
</div>