<% require 'yaml' %>
<% data = YAML::load(File.open('data/people.yml')) %>


<div class = "people"> <!--people-->
		<!--Students-->
		<div class = "students">
			<h2> Current Students</h2>
			<ul>

				<% data["currentStudents"].each do |x| %>
				<li ><%= x %></a></li>
				<% end %>
			</ul>
		</div><!--Students-->

		<hr></hr>

 	<h2> Alumni </h2>
		<div class = "alumni">
			<% data["Alumni"].each do |person| %>
			<ul>
				<li>
					<h3 id = "name"> <%= person["name"] %> </h3>
					<h4 id = "info"><%= person["info"] %></h4>
					<h5 id = "now-at"><%= person["now"] %></h5>
				</li>
			</ul>
			<% end %>
		</div> <!--Alumni-->

</div><!--people-->
