<!-- Jennifer Alarcon -->

<!-- Loading yaml file-->
<% require 'yaml' %>
<% data = YAML::load(File.open('data/teaching.yml')) %>


<!--begin processing information-->
<div id = "teaching"> <!--teaching information-->

<% data["teaching"].each do |section| %><!--classes-->
		<h2 id = "title"> YEAR: <%= section["year"] %> </h2>
		<% section["classes"].each do |info| %><!--one class-->
				<%=info["title"]%></br>
				<%=info["class"]%></br>
				<%=info["season"]%></br>
			</br>
				<% end %><!--end looping through classes for that year-->
<% end %> <!--end looping through all yaml data-->

</div><!--teaching-->
